[2019-05-29 18:51] Lavanyagaur22 opened #1 "Create Project Proposal and Documentation"
## Roadmap

The aim is to extend Data Sync to Android by porting of the current aerogear-js-sdk to Android to provide the services of Offline Support, Conflict Resolution, and the Data Sync services to the users.

Work on the following:

- CRUD functionality
- Cache Support
- Offline Support
- Offline Listeners and workflows for seamless UI.
- Conflict Resolution Implementations.

[2019-05-29 19:40] Lavanyagaur22 opened #2 "Research on Aerogear JS-SDK and Apollo android."
Research how the conflict resolution part is implemented in js-sdk.
Read about the features that are there in js-sdk and figuring out the things that needs to be implemented in android sdk.

[2019-05-31 11:58] Lavanyagaur22 opened #3 "Implement the CRUD functionality"
Implement the basic CRUD ( create, read, update, delete ) functionality in the library using apollo-android and make a sample app to demonstrate the function.

[2019-05-31 14:10] wtrocki opened #4 "GraphQL Android Proposal"
# Conflict Resolution and Offline Support for the Aerogear Android SDK

## Project Introduction

AeroGear Mobile Services provides solutions to common development challenges faced by mobile developers. Data Sync is one of the key features provided by the Aerogear Mobile Services to keep the server data and the client data in sync with each other along with the additional capabilities like providin

[2019-05-31 14:11] wtrocki opened #5 "Offline Mutation Support"
## Motivation

The motivation for this feature is to extend the existing Apollo Android library to enable performing and storing mutations when server is unreachable.

Client should use a mutation store to support offline mutations. It is used to hold query and mutation requests when the client is offline.

![Image1](https://user-images.githubusercontent.com/33238323/58715601-d45a9880-83e4-11e9-94

[2019-05-31 14:19] wtrocki opened #6 "Setup database storage for offline mutations"
**TODO** - needs more details

# Motivation

Once application stops all in memory items will be removed.
To persist all the offline items after restarts we need to persist them in local database

# Suggested approach

Create pojo object that will map optimistic response and offline data:

[code]

# Tasks

- [x] Reasearch how to store offline data in database
- [ ] Provide provide interface for sav

[2019-05-31 14:27] wtrocki opened #7 "How we going to create issues"
## Proposal

We can have a general proposal for 3 months work.
We can split work to individual technical tasks as follows:
![Screenshot 2019-05-31 at 15 24 04](https://user-images.githubusercontent.com/981838/58712343-4ff22080-83b8-11e9-8d04-41052f2d96b9.png)

ping @harshithdwivedi @wtrocki for idea

[2019-05-31 14:28] wtrocki commented on #7
Yeah that works for me

[2019-05-31 14:36] harshithdwivedi commented on #7
Looks good 👍

[2019-05-31 15:15] #7 closed

[2019-05-31 16:04] harshithdwivedi opened #8 "Create the starter Android SDK"
Create and add the started code for the library.
Tasks :
1. Create a sample app under the library that uses the methods available in the apollo-graphql dependency

[2019-05-31 16:11] #6 closed

[2019-05-31 16:13] harshithdwivedi commented on #8
Add Pull Request and Issue template to the repository

[2019-05-31 16:33] #1 closed

[2019-05-31 16:34] wtrocki commented on #3
no longer needed

[2019-05-31 16:34] #3 closed

[2019-05-31 16:35] wtrocki commented on #8
From me:
I will be nice to have minimal docs in readme how to run the example project.

[2019-05-31 19:47] harshithdwivedi commented on #8
@Lavanyagaur22 I've been doing some research on my end and it might be a good idea to skip the android library for now.

What I would recommend is that you go ahead and play around with the app that you've [created earlier](https://github.com/Lavanyagaur22/GraphQL-Android-Example) and research around the implementation and the API design of the features available in the graphql SDK.

[2019-05-31 20:20] wtrocki commented on #8
@harshithdwivedi Nice idea. Generally the longer we withhold creating library(ies) then better. What I have been doing is like performing experiments on the running application, writing blog post and doing community demo to collect feedback and after that creating a library. It is simply way faster to build some prototype on the app itself and harder to make it a generic inside the library - we we

[2019-05-31 20:24] wtrocki commented on #8
How about we create following repo structure:

[code]

The starting point here will be to have an application that:

- have a simple view where we can edit perform both queries and mutations.
- uses Apollo cache as implemented in sample
- Configures external okhttp library

Literally all that was already spiked in another repository
(however, we might start fresh if you think it's useful)

[2019-05-31 20:29] wtrocki opened #9 "Setup build process for repository"
## Proposal

Setup build process in CI for the repository to check every PR.

Setup an example app builds in CircleCI that will be running for each pr.
We can use this for inspiration.: https://github.com/aerogear/aerogear-android-sdk/tree/master/.circleci

Additional info: https://circleci.com/docs/2.0/language-android/

Note: this is may require some unit tests in example applications first so n

[2019-05-31 20:40] wtrocki commented on #5
@Lavanyagaur22 This will be top level issue with requirements we not going to work on this directly but have conversation about implementations and multiple technical task. This issue can take multiple sprints etc.

[2019-05-31 20:49] wtrocki opened #10 "Investigate offline mutation store"
First investigation for #5
## Idea

Investigate how offline mutations can be stored inside the Android library.
Offline changes need to be persisted just in case the application will be restarted. Applications can be offline for a long time so we might need to have separate stores for offline data.

## Proposal

Store mutations in SQL database - sql lite
Store mutations only when offline (based on

[2019-05-31 20:50] wtrocki commented on #10
@harshithdwivedi WDYT about this? Do you think it is useful to do it over the next week? Feel free to propose alternative flow.

[2019-05-31 20:51] wtrocki commented on #10
ping @Lavanyagaur22

[2019-05-31 20:54] wtrocki commented on #5
@harshithdwivedi @Lavanyagaur22 I have added more info. We can collaborate on this next week to extend description together as we learn more how this will work.
For the moment we just have top level behavior requirements - let me know if you have any questions about those.

[2019-06-01 06:02] Lavanyagaur22 commented on #8
@wtrocki @harshithdwivedi I think we can start with a fresh android application (based on that sample one) and adding more features to it. Also, I'll add some unit tests for the same in it.

[2019-06-01 14:10] danielpassos commented on #9
@wtrocki It still valid without any unit test. The CI will at least test if it still building. It's really nice specially when you start to introduce a third-party libs

[2019-06-01 14:12] danielpassos commented on #8
@wtrocki In your folder proposal what the `libs` folder is?

[2019-06-01 14:31] wtrocki commented on #8
My bad. I wanted to denote that each lib will be on root. So it will be something like offline, conflict and so on

[2019-06-01 14:32] wtrocki commented on #9
Agreed. We can just start building sample app

[2019-06-01 20:08] wtrocki opened #14 "Setup documentation page"
Setup webpage with documentation

[2019-06-01 20:10] #9 closed

[2019-06-01 20:14] wtrocki commented on #14
@Lavanyagaur22 Created placeholder in /docs folder. We should add more info there once we have something solid.

[2019-06-01 20:14] #14 closed

[2019-06-02 02:14] harshithdwivedi commented on #10
@wtrocki Perfect, looks good to me :+1:
I believe that researching this can be a worthwhile investment.

[2019-06-02 14:51] harshithdwivedi opened #17 "Setup codacy for automated code reviews"
## Feature Request
 @Lavanyagaur22 can you go ahead and setup codacy for java and kotlin files in the project?
That should help us with automated code reviews for the code we push.

P.S. this shouldn't require you to push any code to the repo; just link the project from the codacy dashboard.

[2019-06-02 16:54] Lavanyagaur22 commented on #17
@harshithdwivedi Would not it include adding codacy.yml file to the repo? Rest, the linking of project from the codacy dashboard is done. Do we need to include the badge?

[2019-06-02 20:21] danielpassos commented on #17
+1 for badge. Let's try to use all badge from https://shields.io/

[2019-06-03 03:07] harshithdwivedi commented on #17
Ah yes, you will need to add the badge.
I'm not sure about the yaml, but if the steps require you to do so, feel
free to do so.

On Mon, Jun 3, 2019, 1:51 AM Daniel Passos <notifications@github.com> wrote:

[2019-06-03 09:24] wtrocki commented on #17
Let me know if you will need any admin rights for attaching service to repo

[2019-06-03 12:32] danielpassos commented on #17
@wtrocki I've configured the Codacy for this repo already. I mean gave the Codacy access to add the webhooks

https://app.codacy.com/project/aerogear/voyager-android/dashboard

[2019-06-03 21:22] Lavanyagaur22 commented on #10
* What went wrong:
Some problems were found with the configuration of task ':sample:generateDebugApolloIR'.

execution failed for configuration of task ':sample:generateDebugApolloIR'

When building the project I am facing this error, I tried to fix it out by changing the gradle version and adding "ext.apolloGraphQL_version = '0.4.3' " , ( https://github.com/apollographql/apollo-android/issues/601

[2019-06-03 21:58] harshithdwivedi commented on #10
@Lavanyagaur22 can you push your changes onto a branch?
I'll look into it

[2019-06-03 22:37] wtrocki commented on #10
Looks like typical problem with missconfigured code generator. Where did we put the app schema? Are we using showcase schema or somthing else?

[2019-06-04 03:16] Lavanyagaur22 commented on #10
@wtrocki We are using the showcase schema right? Schema is put under "sample/src/main/graphql/org/aerogear/graphqlandroid/schema.json"

Also studio showing this:

<img width="1410" alt="Screenshot 2019-06-04 at 9 11 07 AM" src="https://user-images.githubusercontent.com/33238323/58849638-b7ee8280-86a8-11e9-96ff-74bbda7d05fe.png">

[2019-06-04 03:38] Lavanyagaur22 commented on #10
#18  @harshithdwivedi pushed the code

[2019-06-04 04:26] Lavanyagaur22 commented on #10
@wtrocki What exactly do you mean by having separate stores?

[2019-06-04 06:30] Lavanyagaur22 commented on #10
@wtrocki @harshithdwivedi It's working with the previous version of gradle ( that is Apollo generated code and stuff ) but not with the latest one

[2019-06-04 06:34] harshithdwivedi commented on #10
Hm, maybe it's worthwhile to check the apollo-graphql repo's issues to see
if their users are facing the same issue.
If not then I'd recommend that you go ahead and open an issue for this.

For now, we can go ahead with the version of gradle with which the app
works; what's that version Btw?

On Tue, Jun 4, 2019, 12:00 PM Lavanya gaur <notifications@github.com> wrote:

[2019-06-04 09:57] Lavanyagaur22 commented on #10
@harshithdwivedi gradle 4.6

[2019-06-04 10:21] harshithdwivedi commented on #10
Cool, go ahead with it.

On Tue, Jun 4, 2019, 3:27 PM Lavanya gaur <notifications@github.com> wrote:

[2019-06-04 12:43] wtrocki commented on #10
Cache represent server side data that user fetched.
If we start adding things to cache that actually do not represent the state of the server it will mean that:

- cache is no longer actual cache but the actually client-side store
- we need to build another layer on top of the current cache that will represent this offline changes
- we will need to deal with complex cache invalidation and listener

[2019-06-04 17:17] Lavanyagaur22 commented on #10
@wtrocki When mutation results are successfully stored in the server(when online), does the server returns any kind of success (like any kinda callback on successful operation)?

[2019-06-04 17:47] wtrocki commented on #10
Yes.. Mutate method should return rxobservable. - depending what wrapper we use

[2019-06-05 04:30] Lavanyagaur22 commented on #10
@harshithdwivedi @wtrocki Can you have a look at this

https://drive.google.com/file/d/1sj_IMfPGYvma51VWV6K6fbbtOxpy5zfE/view?usp=sharing

More modifications to be done :p

[2019-06-05 05:59] Lavanyagaur22 commented on #10
What is the advantage  of having "status" field in the schema?

[2019-06-05 14:20] Lavanyagaur22 commented on #10
Create { title: 'Task6', description: 'This is task6', status: 'OPEN' }

{"level":30,"time":1559743931609,"pid":6674,"hostname":"lavanyas-MacBook-Pro.local","tag":"AUDIT","audit":{"logType":"RESOLVER_COMPLETION",**"msg":"insert into \"tasks\" (\"description\", \"status\", \"title\", \"version\") values ($1, $2, $3, $4) returning * - column \"status\" of relation \"tasks\" does not exist"**,"operat

[2019-06-05 14:53] wtrocki commented on #10
Sounds like backend problem `column "status" of relation "tasks" does not exist`.
Loooks like db container needs to be killed and recreated

To fix it:
[code]

or
[code]

[2019-06-05 19:15] wtrocki commented on #10
Btw. Lets include link to server project in Readme so it will be clear where it comes from.

[2019-06-06 15:55] Lavanyagaur22 commented on #10
https://github.com/apollographql/apollo-android/tree/master/apollo-kotlin-sample
This is also very nice to understand how different things in apollo android works :) . This is a new one added there :p

[2019-06-06 16:00] wtrocki commented on #10
@Lavanyagaur22 Kudos for finding this example and playing with it.
You do not need mentors :) mentors need you :D

[2019-06-07 18:20] Lavanyagaur22 opened #21 "Investigate how to implement advanced cache functionality."
## Feature Request

Investigate how to implement advanced cache functionality which will extend the apollo cache. Explore more advanced use cases and handle them accordingly.

## Flow diagram
- The link of a flow diagram depicting how I would be going to proceed with things would be provided soon.

[2019-06-07 18:22] Lavanyagaur22 commented on #21
@wtrocki @harshithdwivedi If you have any links or material (tools etc) which would help me in my research, please provide them here. Thanks :)

[2019-06-11 15:33] #17 closed

[2019-06-14 09:59] Lavanyagaur22 opened #25 "Storing of mutations in offline store"
## Idea
1. When the user is offline, store mutation in a database(implemented through Room).
2. Update UI (optimistic response) and also notify the user that some error occurred while syncing with the net.
3. Check for the network, and when the user comes online, replicate mutation to the server stored in the offline store one by one. Simultaneously delete them from the local database( offline sto

[2019-06-14 10:02] Lavanyagaur22 commented on #25
@wtrocki @harshithdwivedi How should the mutation be stored? Should the exact mutation be stored as it is, or its objects (I mean the data of the mutation) should be stored?

[2019-06-14 10:03] Lavanyagaur22 commented on #25
![864499b1-deb8-437b-8c55-11becdc72517](https://user-images.githubusercontent.com/33238323/59501685-afbcf100-8eb9-11e9-812e-c8cb810fd4c9.jpg)

[2019-06-14 11:14] wtrocki commented on #25
This part I'm not sure about because Android SDK is missing update function (https://www.apollographql.com/docs/react/essentials/mutations/#updating-the-cache)

This could be another spike. Android client should update the object itself so we looking into the query object only.

Additional proposed step:
Since synchronization is happening outside UI context (we cannot connect to the elements of th

[2019-06-14 11:27] mgobins opened #26 "Android library release?"
I use https://github.com/aerogear/offix
Is this project try to make offix for Android?
Where I can see library (repository is only sample app)?
Is IOS library made?

[2019-06-14 11:28] mgobins commented on #26
I cann't find any info in https://offix.dev

[2019-06-14 11:36] wtrocki commented on #25
@harshithdwivedi Would love to see your view on this. This is simple case for the moment but we can also chat about your idea of background sync.

[2019-06-14 11:53] Lavanyagaur22 commented on #26
@mgobins Yeah, this is kind of offix for android. Work in progress :p. You will find the library soon :)

[2019-06-14 12:00] wtrocki commented on #26
@mgobins Feel free to watch this repository for releases.
We hoping to have something released in 1-2 months scope.
As for IOS there are no repository created yet, but if there will be interest from community we can consider making IOS version of library as well.

Offix.dev is now dedicated for JS version only as this is the only production version of the library, but we going to restructure that

[2019-06-14 12:48] harshithdwivedi commented on #25
Hey, for sure.
For the time being, let's assume that we are handling the cases when the user's network changes when the app is open.

In this scenario; using connectivity manager in Android should provide us with callbacks that tells us whether the network was connected or disconnected.

Based on the connectivty, we can perform a server call and then provide the developer with a method that gives

[2019-06-14 12:50] harshithdwivedi commented on #25
For background work, since Broadcast receivers at deprecated, we can probably use WorkManager with a Network constraint in our library.

If we register a mock content provider in our library, we should be able to and hook into the host app's lifecycle methods and inside the onStop method of the host app; we can fire a background work that runs every X minutes (only if there's a network connectivit

[2019-06-14 12:53] Lavanyagaur22 commented on #25
What exactly this means?

[2019-06-14 12:54] Lavanyagaur22 commented on #25
Also, finally what we are storing in db? Exact mutation or its fields/data?

[2019-06-14 13:44] wtrocki commented on #25
@Lavanyagaur22 Please check what is required to execute client Mutate.
What are you passing to the mutate function. We will need to replicate the same when offline.

[2019-06-14 13:45] Lavanyagaur22 commented on #25
We are passing parameters according to the schema to the mutate function. Okay, so should I store these things when offline

[2019-06-14 13:47] wtrocki commented on #25
@harshithdwivedi Fully agree. We could split thats into 3 different areas:

- when in app (online offline broadcasts)
- When in app and request fails
- When in background (for sync)

For simplicity, we can just try the first case in this spike

[2019-06-14 14:22] wtrocki commented on #25
Actually we decided to not handle case 2,3 in js sdk as they are actually quite complex

[2019-06-14 14:46] harshithdwivedi commented on #25
Sounds good, splitting work makes sense to me.

[2019-06-14 16:47] Lavanyagaur22 commented on #25
@wtrocki @harshitdwivedi storing mutation data (given by the user to update create or delete ) is much easier and also is beneficial rather than saving actual mutation call. For this, I am maintaining separate tables in DB so when offline->online, each table will be emptied one by one and as there are different calls like mutation update matches to a different class, so as mutation create, the cal

[2019-06-14 19:34] wtrocki commented on #25
@Lavanyagaur22 Can you share table structure. Are we saving json file as string for specific ID. What will be your preffered storage strategy?

[2019-06-15 05:04] Lavanyagaur22 commented on #25
@wtrocki How can we save JSON file of mutations? I have checked all options on mutation object, in android, we are not getting json object as in js (from playground when we were sending ), maybe this is happening internally.

Either we can save mutation object with serial number and when we fetch from database, we have to check its type, by type I mean which class it belongs to, like for our sampl

[2019-06-15 11:02] wtrocki commented on #25
Take look on JS SDK. We storing mutation metadata and actual arguments. As far I have checked both can be represented as JSON

[2019-06-15 11:04] wtrocki commented on #25
This is to map generic data to tables. For example : We cannot have table with title column because this is not generic. It is specific to our app. But we probably need data.column that contains JSON

[2019-06-17 10:02] Lavanyagaur22 commented on #25
<img width="1440" alt="Screenshot 2019-06-17 at 3 10 46 PM" src="https://user-images.githubusercontent.com/33238323/59595990-7cc26980-9114-11e9-88c0-dc4959f9eb20.png">

<img width="1440" alt="Screenshot 2019-06-17 at 3 11 33 PM" src="https://user-images.githubusercontent.com/33238323/59596012-88ae2b80-9114-11e9-80ad-db7036fd0591.png">

This is the table structure in normalized cache.

But I am sti

[2019-06-23 13:41] #8 closed

[2019-06-24 06:54] Lavanyagaur22 opened #29 "Approaches on Storing Mutations in an Offline Queue."
## Description

When the user is offline, mutations should be stored in an offline queue so that when the network comes all the stored mutations can be replicated back to the server and user can have the latest fresh data.

### This can be divided into two parts:

### 1. In-memory storage of mutations

We can build an ArrayList or a queue which will store all the mutation object. When the network

[2019-06-24 07:13] Lavanyagaur22 commented on #29
<img width="740" alt="Screenshot 2019-06-24 at 12 42 43 PM" src="https://user-images.githubusercontent.com/33238323/59998645-96683180-967d-11e9-83ba-6504f1e95b61.png">

Generic Mutation is the class we build for our stored mutation objects.

[2019-06-24 07:14] Lavanyagaur22 commented on #29
@harshithdwivedi @wtrocki  Let me know what do you think about this?

[2019-06-24 08:21] Lavanyagaur22 commented on #29
When we are offline, in case of any mutation made by the user, Apollo will throw a network exception and in onFailure() we'll store the mutation object in the queue.

We have Network monitors implemented in our app, when the client comes online we will fetch the stored mutation one by one. With the mutation fetched we again make a network call with the Apollo client. But in the enqueue method, we

[2019-06-24 08:42] wtrocki commented on #29
The main problem of offline support is that it is going to change the workflow.
This cannot be avoided as when we enqueue data in some storage users can navigate off the view. This means that we cannot avoid having this non UI bound processing that users can hook into thru listeners.

Suggested approach:

Return error on the first pass and for second enqueue ignore the UI binding -
This means that

[2019-06-24 09:27] Lavanyagaur22 commented on #29
Okay, so you mean that trying for an enqueue method for an object without any callbacks. So, in that case, we don't want any class in client.enqueue to which data would be matched. With that method, we would just be hitting mutations to the server when the client comes online.

@wtrocki Let me research and check on this.

[2019-06-24 09:32] Lavanyagaur22 opened #30 "Approaches on Offline Listeners for the Mutation Store."
## Description

Our library will have offline listeners for the stored mutations when the client is offline.
We can simply have 2 callbacks, one for offline error and another for success.

### Approaches to be discussed.

[2019-06-24 09:47] wtrocki commented on #30
The listener can have a method that offline operation was successful, but this will raise problem that we will need to know the class of that object to really access their fields. Alternative will be to pass JSON like object but it will mean that we will mean double parsing if someone wants to access the property to build notification.

I think that the sensible way will be to work with casting ob

[2019-06-24 09:48] wtrocki commented on #29
In this case data will be passed to listener and then users can cast the objects like suggested in #30
We cannot avoid casting unless we want to use reference and store class names in the database (probably not the best idea)

[2019-06-24 10:01] Lavanyagaur22 commented on #30
For casting objects, we would have to check by casting it to each type of the build classes of mutation.
In case user has more classes let say 20, would it be feasible to check by casting it to each and every class?

Also, as you suggested we can store the class names in a db along with the mutation, what's the problem in that?

[2019-06-24 12:16] wtrocki commented on #30
The listener will be on the app side (not library) so dev can cast to many different types etc. Still not perfect so this requires investigation if we can do something better.

[2019-06-25 05:00] Lavanyagaur22 opened #31 "Problem facing in adding mutation objects to the offline Queue."
## Description

( In reference to solving issue #29  )

I have used an ArrayList (of Type <Any>) which store mutation objects in OnFailure() method of Mutation Callback in UserData() class.

I have made n interface CustomApolloCall which extends ApolloCall and in its Enqueue and Callback method passed Void as a generic type.
Similar thing I have done with CustomMutation interface which extends Mut

[2019-06-25 05:04] Lavanyagaur22 commented on #31
@harshithdwivedi Can you look at it, please :)

[2019-06-25 05:23] Lavanyagaur22 commented on #31
@harshithdwivedi @wtrocki Can any of you please have a look at it :)

[2019-06-25 05:49] harshithdwivedi commented on #31
What's `CustomMutation` here @Lavanyagaur22 ?
I think that the arraylist should be of the type `Mutation` since that's implemented by all the generated classes.
![Snipaste_2019-06-25_11-17-58](https://user-images.githubusercontent.com/47669588/60072438-17d1c980-973b-11e9-87f6-ef4f3118ba03.png)

[2019-06-25 06:10] Lavanyagaur22 commented on #31
@harshithdwivedi Probably yes, I thought of making a CustomMutation taking Void as generic param while it could have passed to Mutation Only.

It's working 👍

[2019-06-25 06:12] Lavanyagaur22 commented on #29
@wtrocki yeah, I checked this is possible.

## What is done?

I have used an ArrayList (of Type <Mutation>) which store mutation objects in OnFailure() method of Mutation Callback in UserData() class.

I have made an interface CustomApolloCall which extends ApolloCall and in its Enqueue and Callback method passed Void as a generic type.

In MainActivity, I have an offOn Button (for spike), clickin

[2019-06-25 08:16] #31 closed

[2019-06-26 09:29] Lavanyagaur22 opened #34 "Storing mutation Object in database."
## Description

Approaches on storing mutation object in the database. (Sub-issue related to the issue #29 )

[2019-06-26 10:48] Lavanyagaur22 commented on #29
The in-memory part can be done by storing mutation object in ArrayList (will work when the app is in foreground).
Now, when the app is killed, for that part we need to store mutation in a database.

@wtrocki Can I resume researching On the GenericMutation part I was working on earlier.

[2019-06-26 10:54] Lavanyagaur22 commented on #29
GenericMutation class will extend the mutation interface and we will try to make this in such a way that when we come online, we make an object of this class, make a server call but we don't listen for any response from the server, because of mapping of data can cause many class cast exceptions.

[2019-06-27 11:08] Lavanyagaur22 commented on #29
@wtrocki @harshithdwivedi If in our approach of making a Generic class and passing an object of that class to the server call, what we can do is not listen to the response returned back from the server ( which comes in Operation.Data ). We can use subscriptions, in this way some class cast exceptions can be avoided.  WDYT?

[2019-06-27 11:11] harshithdwivedi commented on #29
Hm interesting.
When the user is offline, we don't need the UI Bindings anyways, good
thinking!

@wtrocki what do you think?

On Thu, Jun 27, 2019, 4:38 PM Lavanya gaur <notifications@github.com> wrote:

[2019-06-27 11:33] wtrocki commented on #29
Yes this is great idea. We will still need to listen - in order to notify listeners but we do not care about the data and people can cast objects if they need it in listeners. So if we can use Object as generic is fine. Alternative will be to use java reflection and fully classified class names, but that seems to be overkill for that use case.

[2019-06-27 11:36] harshithdwivedi commented on #29
+1, for initial milestone; let's go with providing the result as Object and
once that's done, we can probably think about reflection and genetics.

On Thu, Jun 27, 2019, 5:03 PM Wojtek Trocki <notifications@github.com>
wrote:

[2019-06-27 11:38] wtrocki commented on #29
Yes. We are really close to have this end to end which is sooo awesome.
Let's not try to get things overly complex from the start. Once we have working prototype we can think about limitations and how we can move from there.

At this point I'm more concerned about listeners. In Java land global listeners to the data are very rare thing so we might need to figure a way to make them work as normal j

[2019-06-28 14:59] wtrocki opened #35 "Try the most used generator on the block"
There are many different code generators for GraphQL for Java.

https://graphql-code-generator.com/docs/plugins/java

Released the most popular and mature implementation that has wider adoption every day. Default generator provided by Apollo is included into their stack but it might not be the best. We can investigate if we can use generator above

FYI @Urigo

[2019-07-08 10:32] Lavanyagaur22 opened #40 "Documentation of the project"

[2019-07-08 11:26] harshithdwivedi opened #41 "Creating the starter Android Library"
I think that we should start working on the android library that has the offline part implemented.
I'm outlining the basic structure that I think would work, feel free to add your suggestions as needed.

## The enqueue method

Our enqueue method should be an extension function on the Apollo Client and should take in 2 parameters :

1. Mutation Object
2. Callback for UI binding

[code]

## Differen

[2019-07-08 12:58] #10 closed

[2019-07-08 12:58] #25 closed

[2019-07-09 12:05] #21 closed

[2019-07-09 12:05] #29 closed

[2019-07-09 12:05] #34 closed

[2019-07-09 12:06] #30 closed

[2019-07-09 12:07] wtrocki commented on #26
This was to release lib. Maybe keep this open to notify people once that is done

[2019-07-09 12:16] harshithdwivedi commented on #26
Ah ok, will do.

[2019-07-09 13:43] Lavanyagaur22 commented on #41
### Alternative :
We can create a custom Interceptor of our own. The user would only have to add our custom Interceptor to the apollo client which he/she can make from the app.
After that, we will check the network status of the client. If it is offline, then we can save it in DB and schedule work manager for retrying it after some interval of time. If it's online, then we will make a call as usua

[2019-07-09 13:50] harshithdwivedi commented on #41
Hm, this sounds like a good idea on paper but it'll prevent us from doing any UI bindings later on since we aren't providing the developers with a callback.

[2019-07-09 14:57] wtrocki commented on #41
I had some experience with this and we initially have done global listeners which were detached from UI. This meant that people needed to kinda have a single place in the app to handle notifications etc - like snack bars etc.

Global one is really needed and we cannot avoid having it because of original activities that could trigger the change may not be available anymore.

UI binding side is a li

[2019-07-09 15:12] harshithdwivedi commented on #41
@wtrocki can you outline a bit more on what you mean when you say global listener?
Is it something inherent to android or is that related to Apollo?

[2019-07-09 15:30] wtrocki commented on #41
The global listener is a listener for offline updates that will be mounted to application context instead of just relying on execute a method for the graphql stuff.

It will be something to let people know that offline change was replicated.

[2019-07-11 11:27] Lavanyagaur22 opened #44 "Roadmap For Offline Implementation in library."
![offline2](https://user-images.githubusercontent.com/33238323/61047332-e1fc3880-a3fc-11e9-87de-486e54d92905.jpeg)

[2019-07-11 12:03] wtrocki commented on #44
It will be cool to also see the end user API of the Library as well. We have internals but it may be hard to imagine how API/lib will be used.

[2019-07-11 12:04] wtrocki commented on #44
What you mean by "Try to store callback"?

[2019-07-11 12:10] Lavanyagaur22 commented on #44
Actually, this was the approach I thought of. So mentioned that if we try to store callbacks, things can get a little bit easier. So I will be trying the same.

[2019-07-11 13:20] wtrocki commented on #44
If they are code not data how we can store callbacks effectively?
They are usually inline so we cannot serialize them etc.

[2019-07-11 13:37] Lavanyagaur22 commented on #44
We would be storing callbacks only if are the app is in foreground, in-memory approach as List<Callbacks>. We will not be storing them in the database (which works when the app is in the background ). For persistence, we have different approach(reflection).

[2019-07-11 13:40] wtrocki commented on #44
I would love to see some experiments on how this could look like but it sounds interesting. Btw.. We are doing the same in js land but we do not hold callbacks ourselves but passing them to users to they can connect to them directly.

[2019-07-11 13:43] wtrocki commented on #44
Btw. There is to way to do UI binding for background tasks. The only thing we can do is really to hold some events register but this can be too much really.

[2019-07-11 13:53] Lavanyagaur22 commented on #44
Can you please explain a bit more on this? :)

[2019-07-11 13:54] Lavanyagaur22 commented on #44
UI bindings will not be a problem if the client uses subscriptions in his/her application I guess :p

[2019-07-11 14:36] wtrocki commented on #44
hmm.. it depends. Subscriptions are usually UI component bound and not application wide. I think as long things land in the cache we are fine.

[2019-07-12 13:47] Lavanyagaur22 commented on #44
We need an apollo client in our library for making offline calls. It's possible in 2 ways:
1. Either we make our own apollo client (with minimal functionality like adding interceptor, okhttpClient, normalized cache, defaultHttpCachePolicy, etc on it which we need to make a call when we are offline) and also provide an extension function to the client with `ApolloClient.Builder()` as the receiver p

[2019-07-12 18:45] harshithdwivedi commented on #44
@Lavanyagaur22 I think a mix of these 2 methods will work.
While creating our own minimal ApolloClient will work; it might be a problem if the developers are using their custom auth headers.
However, we can probably store this info inside a database and then recreate the client if the info is serializable.

@wtrocki what do you think?

[2019-07-12 19:10] wtrocki commented on #44
Basing on my experience it is easier to let people to create clients with our components (like have them in example) rather than encapsulate client and provide extensions. For example if someone want to add another interceptor to okhttp etc this will be very easy. Same with cache. It doesn't matter what cache you use as long cache-first strategy is used.

This means:
- More complexity to create cl

[2019-07-13 03:47] harshithdwivedi commented on #44
Yep, we can add methods to the default Apollo builder, but we will need to create a client if we want to sync the changes when the app is closed and in the background (because in that case we can't acess the client that the user created).

What do you think is a good approach for that scenario?

[2019-07-13 03:51] Lavanyagaur22 commented on #44
Then we have to store a reference to the client and in case the app is closed then we will not be able to make network calls when net comes as we need an apollo client for the same. Please correct me if I am wrong?

Also, can you please elaborate on this further?
@harshithdwivedi So we are making extension function on Apollo Builder?

[2019-07-13 13:48] harshithdwivedi commented on #44
@lavanyagaur22 as i outline earlier, let's first focus on the foreground implementation.
Once that's done, we can move to background impl and creating our own client

[2019-07-13 15:59] wtrocki commented on #44
We need class that can accept client in constructor meaning that users will create client and pass it over to offline engine

[2019-07-15 08:36] wtrocki commented on #44
Once that's done, we can move to background impl and creating our own client

Pretty much this! I'm not even sure if background sync is an desirable feature for the library. If we thinking about timers etc. this sync can affect battery life etc.
Good feature but not a must and certainly not at this point where we need to make it work for the regular cases itself

[2019-07-16 12:55] harshithdwivedi opened #46 "Remove mutation and callbacks from the list sequentially"
In reference to #45, we need to remove the mutations and callbacks one by one instead of removing them all at once from the list.

[2019-07-16 12:57] harshithdwivedi opened #47 "Don't force the user to typecast mutation and callback"
In reference to #45, the library should take any kind of mutation in the `enqueue` method instead of forcing the developer to typecast it to a specific type.

https://stackoverflow.com/questions/38976289/extension-method-with-optional-generic-argument

https://stackoverflow.com/questions/54113666/kotlin-extension-functions-difference-between-any-and-generic-t

[2019-07-16 12:59] harshithdwivedi opened #48 "Document the codebase"
Properly document the current codebase, the docs should include :
1. Brief overview of the libraty
2. Installation steps
3. Sample usage (with a screenshot/gif if possible)
4. Bugs
5. Features in development

@Lavanyagaur22 this should be your number 1 priority.

[2019-07-16 15:44] #40 closed

[2019-07-16 20:01] Lavanyagaur22 commented on #48
Since our library is not published, the user will have to clone this project and make a sample app in it putting the library dependency in Gradle. So do I need to mention this?

[2019-07-16 22:04] wtrocki commented on #48
Assume library is published

[2019-07-17 03:05] harshithdwivedi commented on #48
Yeah, just assume that library is published and add a placeholder
dependency for now.

On Wed, Jul 17, 2019, 3:34 AM Wojtek Trocki <notifications@github.com>
wrote:

[2019-07-17 14:49] Lavanyagaur22 opened #53 "Discussion on the Conflict Resolution Strategies for the library."

[2019-07-17 16:36] wtrocki commented on #53
@Lavanyagaur22 I will recomend to check the current implementation of conflict inside offix library and follow up with questions: https://github.com/aerogear/offix/tree/master/packages/offix-offline/src/conflicts

See also documentation in offix.dev
We need to translate requirements into Android land or even do things differently based on experience. Let's have a discussion here.

[2019-07-17 20:01] #48 closed

[2019-07-17 23:11] wtrocki commented on #53
I think might need to bring sample ionic server app inside repository for convinience and trying things up with conflicts

[2019-07-17 23:13] #2 closed

[2019-07-17 23:14] #5 closed

[2019-07-17 23:16] wtrocki commented on #26
I think we can try release soon to extend docs. WDYT? Guys

[2019-07-17 23:23] wtrocki commented on #41
Lots of really good work. Can we close this issue now or is there anything left

[2019-07-17 23:25] wtrocki commented on #44
Follow up for this issue. Lets create issue for background support. We can ping @danielpassos and @summerspitman for additional feedback - if we should support background at all

[2019-07-17 23:27] wtrocki commented on #46
Yes. Good idea. We may need sequential processing for mutation of the same return type. For now just one at the time is ok process and remove after successful operation

[2019-07-17 23:42] wtrocki commented on #26
offix means offline fix so offixoffline is strange. Maybe we can drop offline?

[2019-07-17 23:48] wtrocki opened #56 "Question - replace strategy for mutation persistence"
https://github.com/aerogear/offix-android/blob/693566cd6564cf4c6d2121715e02ff78573dda4a/offix-offline/src/main/java/org/aerogear/offixoffline/persistence/MutationDao.kt#L8

Any reason why we use replace? Is that a way to squash changes for single object?

[2019-07-17 23:54] wtrocki opened #57 "Extending apollo client by adding offline object"
I think we might refactor code of OfflineList. Name suggest that this is a list but it is used for various reasons. We use it as singleton and also using statics. How about we have offline object as extension of ApolloClient class?

This way will be much cleaner and we will always have access to client

https://github.com/aerogear/offix-android/blob/693566cd6564cf4c6d2121715e02ff78573dda4a/offix-o

[2019-07-18 00:00] wtrocki opened #58 "Question - Callback store"
Any reason we store callbacks instead of using our own one.
After restart we can use generic one for sure.
Do we have any global listener for offline queue? Like queue emptied?

https://github.com/aerogear/offix-android/blob/693566cd6564cf4c6d2121715e02ff78573dda4a/offix-offline/src/main/java/org/aerogear/offixoffline/OfflineSyncService.kt#L27

[2019-07-18 00:04] wtrocki opened #59 "Query persistence as part of the library?"
WDYT about having some documentation about cache setup. Do you think we can have it as part of the lubrary

[2019-07-18 00:06] wtrocki opened #60 "Example type converters may be not needed"
Some code were moved to library

[2019-07-18 05:50] harshithdwivedi commented on #41
We can

[2019-07-18 05:50] #41 closed

[2019-07-18 05:51] harshithdwivedi commented on #26
Makes sense, @Lavanyagaur22

[2019-07-18 05:54] harshithdwivedi commented on #56
Hm , using replace might be better so that we always push the latest mutation on to the server; wdyt?
BTW; we won't ever face this because the table has an autogenerated Primarykey; so I don't think that it'll ever face this conflict.

[2019-07-18 05:55] harshithdwivedi commented on #57
+1 for renaming; -1 for an extension variable, Kotlin doesn't allow for it.
A good read : https://stackoverflow.com/a/36502482/5471095

[2019-07-18 05:56] harshithdwivedi commented on #60
You mean TypeConverters?
I think we might need them for saving the muatation to db.

[2019-07-18 05:58] harshithdwivedi opened #61 "Adding support for background sync for mutations"
As of now, the mutations are lost when the app is closed.
The idea is to store them into a database and schedule a worker that automatically syncs them with the server when the device has network connectivity.

[2019-07-18 05:59] Lavanyagaur22 commented on #53
Also, for conflict resolution, we would have to maintain 3 objects of a class ( this class is a POJO of the request body sent from the client to the server, POJO can be made by analyzing json object ), one is the `client data` (which client is trying to modify, we can get this from interceptor), the other is the `base` (which we would have to extract from cache, this being the apollo cache as our

[2019-07-18 06:00] Lavanyagaur22 commented on #53
Now comes the point that how we are going to fetch details of base? ( as we have to extract it from apollo cache).

@harshithdwivedi @wtrocki WDYT?

[2019-07-18 06:02] Lavanyagaur22 commented on #61
What should be the approach taken for apollo client then?
For now, we are not having a client in the app and are taking it from the user itself. For the background sync, we probably need an apollo client.

[2019-07-18 06:03] Lavanyagaur22 commented on #56
Yeah right. Just in case a situation ever happen like this we are going to push the latest one in the database and then to the server.

[2019-07-18 07:28] harshithdwivedi commented on #61
Have a look and see if you can serialize your Apollo client?
If you can, then it will be very easy to store it to the db and then recreate it later on.

If not, then we might want to create a minimal version of the client using the info that the user provided while creating it.

[2019-07-18 08:46] wtrocki commented on #57
Something like `getOffline()`. I think if we use instance all the time it will be nice.

[2019-07-18 08:47] wtrocki commented on #60
I meant this: https://github.com/aerogear/offix-android/tree/master/sample/src/main/java/org/aerogear/graphqlandroid/persistence

This is part of the library?

[2019-07-18 08:49] wtrocki commented on #53
Yes.. For that we need to know the id and also have access to cache raw data.
It was tricky on js so this will be the first investigation.

However I would recomend to not think about the base now. Let's have vision how conflict resolution is implemented but I wll start with something that caches conflict error from server, let dev to handle it in resolver function and then send it back. This is p

[2019-07-18 08:56] wtrocki commented on #56
Strange. I might need to chat about it more to understand. We should be pushing all mutations to the server.

I have tested that and in fact it works but I was just curious about this parameter.
If we not using replace maybe we can drop this to be the default?

[2019-07-18 08:58] Lavanyagaur22 commented on #60
No, this is not a part of the library for now. Will be required in background sync #61

[2019-07-18 08:59] wtrocki commented on #61
This is an good question to have directly on the apollo repository. What we looking for here is to have the ability to run client in background without recreating it.

From top of the head we can ask user to provide function that he is using to create client - buildClient when initializing background feature. Is that doable?

[2019-07-18 09:02] Lavanyagaur22 commented on #61
Okay, I will open an issue in apollo repo for the same.

Also, even if we ask for a function from the user it will be lost ( if not saved) when the app is closed. And for saving we neeed to serialise it in any case and serialising a function is more difficult than to find a way to serialise client.

[2019-07-18 09:09] Lavanyagaur22 commented on #61
@danielpassos @secondsun  WDYT on adding background sync for offline support. We have the offline support implemented when the app is in the foreground. When the app is closed, offline support is a limitation as of now and to implement it we most probably require an apollo client which we would have to create in our library for the same. For now, we are taking the client from the user.

Suggestion

[2019-07-18 09:14] Lavanyagaur22 commented on #59
We are using apollo cache for now. So are you referring to the documentation for the same?

[2019-07-18 09:17] Lavanyagaur22 commented on #58
Users can have UI bindings in the onResponse() of their callbacks. So storing them can help us in UI bindings.

We can also use the generic one for sure where callback is of type ApolloCall.Callback<Void> but then UI bindings are a problem.

[2019-07-18 09:43] wtrocki commented on #61
Pinging @secondsun again (edits are not pinging people)

[2019-07-18 09:44] wtrocki commented on #59
Yeah.. Without cache-first strategy offline approach will not work.
Not sure if we should provide some stuff in library.
Probably not easy so we can document it.

[2019-07-18 09:48] wtrocki commented on #58
I think that this is a recipe to fix stuff after restart. We can have references to real ones and  if they are gone then we simply use generic one that users can provide. Generic one sadly will require typecasing if you would like get access to object.

[2019-07-18 10:00] Lavanyagaur22 commented on #53
@wtrocki Can I try we the version based approach first? Because our schema is based on this.

[2019-07-18 10:15] wtrocki commented on #53
Yes.. No plugability is a good start.

[2019-07-18 10:18] wtrocki opened #63 "Add reference to offix repository"
Once library is released we want to add a reference to the original offix repository. (docs etc.)

[2019-07-18 18:35] Lavanyagaur22 commented on #61
https://github.com/apollographql/apollo-android/issues/1441

We can't serialize the apollo client. Have to make an instance again when in background.

[2019-07-18 18:58] Lavanyagaur22 opened #64 "Creating apollo client when app is in background."
@wtrocki Can you please provide a rough diagram here explaining the process of creating a client.

[2019-07-18 19:33] wtrocki commented on #61
Frim my point of view this do not change much. People create client themselves and trigger offline engine based on client

[2019-07-18 22:14] danielpassos commented on #61
@Lavanyagaur22 Sorry I don't have too much context here but...

Run something in background is not a big problem we can use something like [services](https://developer.android.com/guide/components/services)

The only problem is how to re-create the stack on the service when the device got restart or the app got killed. Do you have it storied somewhere?

[2019-07-19 18:19] Lavanyagaur22 commented on #53
@wtrocki @harshithdwivedi Hey, for now, we are resolving conflicts based on version right?

So after we log whenever we get conflicts (user will be explicitly passing version while performing mutations) we can internally pass the correct version and make another mutation with the same data. Does that makes sense?

[2019-07-19 18:29] Lavanyagaur22 opened #65 "Problem occuring in watching Cache."
## Description

We have attached an apollo query watcher on cache so whenever data gets updated/changed in the cache we can refetch the watched operation (here the AllTaskQuery). Now we are getting updated results from the cache when we are making update mutations. But in case of Creating new mutations, our cache is getting updated but watcher is not working properly. We have attached refetchQueri

[2019-07-23 07:05] Lavanyagaur22 opened #69 "Provide callbacks to user for UI Bindings."
## Description

We can modify the `enqueue` method of the Offix file in such a way that it will now take 2 parameters, `mutation` object and a custom interface which can be of the type `Offix Interface`.

[code]

 This interface will have 2 methods: `onSuccess()` and `onSchedule()`.

[code]

In the `enqueue` method we can create a minimal object of `ApolloCall.Callback` and in it's `onFailure()` w

[2019-07-23 07:06] Lavanyagaur22 commented on #69
@harshithdwivedi @wtrocki WDYT?

[2019-07-23 07:07] harshithdwivedi commented on #69
in onSchedule why don't we return the Mutation object instead and let the user do whatever they want.

[2019-07-23 07:10] Lavanyagaur22 commented on #69
They would probably don't know how to get access to the variables or the values provided in mutation. I mean just for their simplicity, we can return mutation too, no harm. But user has the need of only the variables stored in it and not the entire mutation obj, so..

[2019-07-23 07:43] Lavanyagaur22 commented on #69
@harshithdwivedi For now, I am returning mutation object then.

[2019-07-23 08:29] harshithdwivedi commented on #69
Yep

[2019-07-23 10:16] wtrocki commented on #69
Late to the party, but @harshithdwivedi made a really nice comment. I would prefer mutation. In fact we can allow people to reschedule operation if they get entire mutation object.

[2019-07-23 10:18] wtrocki commented on #69
Guys.. How about we do different path.. Instead of passing this interface to enqueue we can..

1. Extend ApolloClient
2. Allow to pass all custom stuff including -
Abstraction for network detection
Global listener like above
3. On query we can detect if the network is down and force use cache only

I think this may just make thins much more clean and simple to end users.
We can finally have some p

[2019-07-23 10:20] wtrocki commented on #69
Above is just a suggestion.

[2019-07-23 10:29] Lavanyagaur22 commented on #69
@wtrocki We can't do this as ApolloClient is a **final** class. That's why we can't make an OffixClient sort of thing which extends ApolloClient.

[2019-07-23 10:33] Lavanyagaur22 commented on #69
That's why we have 2 options left, either take the client from the user or make a new one in our library. For now, we are taking it from the user. We are not extending it. In this case the user can create a client according to his needs.
I think let's first do this with callbacks and then we can go back to the board and think about a different approach for this?

@wtrocki @harshithdwivedi WDYT?

[2019-07-23 11:49] Lavanyagaur22 opened #71 "Remove static array list of mutations."
## Description

We can fetch the mutations from the database instead of maintaining a static array list of mutations.

[2019-07-23 12:22] #69 closed

[2019-07-23 12:24] #61 closed

[2019-07-23 12:24] #64 closed

[2019-07-23 14:13] Lavanyagaur22 commented on #26
So should I change the offix-offline to offix?

[2019-07-23 14:16] wtrocki commented on #26
yes. It will be much better

[2019-07-24 09:53] wtrocki opened #74 "Create /docs folder with documentation and use github pages for publishing"
We can use docsify (https://docsify.js.org/#/)

[2019-07-24 11:51] harshithdwivedi opened #75 "Backend server for nested objects in the payload"
The app currently works well with a flattened schema, but we need to test it with a nested schema so that it supports all the use cases.

@wtrocki can we set up a backend server that expects a nested object schema for testing this?

[2019-07-24 12:16] wtrocki commented on #75
Yes.. We will extend showcase server to include relationiship. Is user ok to have?

[2019-07-24 12:57] harshithdwivedi commented on #75
Yep

[2019-07-24 17:27] #71 closed

[2019-07-24 18:18] #57 closed

[2019-07-24 18:18] harshithdwivedi commented on #57
Closing this as we're using an instance of the client.

[2019-07-25 06:19] harshithdwivedi opened #77 "Explore the generated files"
@Lavanyagaur22 maybe it's also a good idea to manually edit the schema in our code to contain nesting and see what the constrictors for the generated files look like.

Post your research in the comments of this issue so that we can see how to go about adding support for them.

[2019-07-25 08:45] Lavanyagaur22 commented on #77
Sure, going to put the research for the nested structure here.

[2019-07-25 09:53] wtrocki commented on #77
Graphback will generate all now so I would.recomend to use it simply because we can generate complex use cases with zero time investment

[2019-07-28 05:29] #44 closed

[2019-07-28 05:29] #46 closed

[2019-07-28 05:29] #59 closed

[2019-07-28 05:29] #60 closed

[2019-07-28 05:29] #74 closed

[2019-07-28 05:30] #58 closed

[2019-07-28 05:31] harshithdwivedi commented on #26
@mgobins We have released the initial version of our Android Library.
https://android.offix.dev/#/

Please test it and provide us with your feedback :)

[2019-07-28 05:31] #26 closed

[2019-07-28 05:33] #63 closed

[2019-07-28 05:35] harshithdwivedi commented on #4
### Update
So far we have :
1. Accomplished Offline Support when the app is opened
2. Accomplished Offline Support when the app is closed
3. Created a sample app with possible use-cases
4. Documented the project
5. Released the Library

[2019-07-31 12:30] Lavanyagaur22 commented on #53
@wtrocki @harshithdwivedi To resolve conflicts we need both server data and client data. And for this, we need to parse the response we get in error and take out the things from it. Now we are getting the below error response for the schema we are using:

[code]

We can parse this response in our library and can use to resolve conflicts if we get response data as null (which means conflict has hap

[2019-07-31 13:02] wtrocki commented on #53
Yes. This in very simple terms explain the workflow on the js-sdk

[2019-07-31 13:02] Lavanyagaur22 opened #93 "Query on Conflict error message."
Actually, have a doubt regarding the error json response. Are the keys `serverdata` and `clientdata` going to remain the same in every conflict message irrespective of the server used?

<img width="421" alt="Screenshot 2019-07-31 at 6 26 34 PM" src="https://user-images.githubusercontent.com/33238323/62213527-c0b9b700-b3c0-11e9-9bca-849a19a0a0fd.png">

[2019-07-31 13:06] wtrocki commented on #93
Yes. Please check https://offix.dev/#/ref-conflict-server for more info

[2019-07-31 13:10] Lavanyagaur22 commented on #93
Yes, so this library is going to work with this type of structure for conflicts only. So we can parse it according to the defined structure.

[2019-07-31 13:48] wtrocki commented on #93
yes.. This is the contract we have made and document for users and it will not change.

[2019-08-02 11:20] #93 closed

[2019-08-02 13:02] Lavanyagaur22 opened #96 "Query regarding the "version" key in schema."
Will the `version` key always be present in `serverstate` in the schema? It was actually not there on the Offix Website inside the conflict structure but in js sdk, version is used to resolve conflicts. Because if we have the version in the sample place always, it will be easy for us to parse the json for the version

"conflictInfo":{
                  "resolvedOnServer":false,
                  "

[2019-08-02 13:04] Lavanyagaur22 commented on #96
@wtrocki https://github.com/aerogear/aerogear-js-sdk/blob/2.5.0/packages/sync/src/conflicts/VersionedState.ts#L19

[2019-08-02 13:34] wtrocki commented on #96
I think this is because this is showcase default implementation.
Take look into offix documentation. I will recommend to write some different state marker like - last updated field instead of version

[2019-08-02 15:13] Lavanyagaur22 commented on #96
@wtrocki
Is it not the `version` field on the basis of which Conflicts are resolved in js SDK?
I am referring to the default conflict Implementation https://offix.dev/#/ref-conflict-client?id=default-conflict-implementation

[2019-08-02 16:08] wtrocki commented on #96
See it is called default conflict implementation that can be **changed** we do not hardcode `version` anywhere etc. and we should not do it on Android as well.

[2019-08-02 18:03] Lavanyagaur22 commented on #96
@wtrocki Do you recommend having a custom implementation provided by the user of the library as to which key we should consider during resolving conflicts?

For example, they can provide a simple string named CONFLICT_KEY in their strings.xml as to which key we should use?

If not provided, we can use the version key.
WDYT?

[2019-08-02 19:48] wtrocki commented on #96
Key to make useful library is to understand the problem we want to solve and premise of this problem. Data can come with all different shapes and it can cause conflicts but devs need to define what conflict mean. This is not only field related. For example we can decide to calculate some hash from object and compare it. Conflict can be caused in many ways. On client we do not need to care at all a

[2019-08-02 19:49] wtrocki commented on #96
What will be purpose of the version key? Why we need to use it? I'm not sure if I understand the top level question here.

Lets check how server side conflict works and implement it on top of graphback. Push it to some branch and ping me. This will allow us to get better understanding. Without that it will be hard to communicate about the problem we are facing and approach we took in server. Serve

[2019-08-03 05:50] harshithdwivedi commented on #96
@wtrocki adding to @lavanyagaur22's question here.
If the nature of conflict resolution will be specified by the user, how does that fit in the library that we are trying to make?

We need to understand how to manipulate the response that we receive in order to resolve the conflict and this will again be specified by the user.

Based on your explanation it seems like the best way to go about this

[2019-08-03 09:21] Lavanyagaur22 commented on #96
@harshithdwivedi Yeah, I totally agree with it.
@wtrocki We can have a method in the `ResponseCallback` named `onConflictCallback`.

[code]

From inside the callback, we will return the `serverstate` data and `clientstate` data to the user. The user knows the structure of their schema, graphQL files and they can parse the server data and client data json responses accordingly. After resolving conf

[2019-08-03 09:32] Lavanyagaur22 commented on #96
Also then as we are making a library, how will we come to know that on what basis the client wants to resolve data, on basis of version, hash from the object or things like that. Either we need to take the factor for resolving conflicts from the client but then it would totally depend on their schema and their choices a well.

Server-side implementation in Offix is also based on `Version Based Con

[2019-08-03 14:12] harshithdwivedi commented on #96
Hm, yeah this makes sense to me.
We can start with this in our library and build upon this, why don't you go ahead and send a PR alongside working with schema extension with GraphBack

[2019-08-03 16:18] wtrocki commented on #96
I think you meant to ionic-showcase sever application. Offix server offers a range of implementations for detection + gives devs ability to build their own (https://github.com/aerogear/offix/tree/master/packages/offix-conflicts-server/src/states). We should not care about this at all as this is server-side responsibility.

My suggestion will be to have something like:
[code]

Where we envision usi

[2019-08-03 16:20] wtrocki commented on #96
Schema for graphback will look like this:

https://github.com/aerogear/ionic-showcase/blob/master/server/src/tasks/schema.js#L6-L18

But we might need to extend it for our own needs to drop some relations etc.

[2019-08-03 16:24] Lavanyagaur22 commented on #96
Okay, so our library would detect conflicts and upon detection of conflicts we are going to return server data and the client data to the user and they can deal with it accordingly.

@wtrocki Please correct me if I'm wrong?

[2019-08-03 16:27] harshithdwivedi commented on #96
Yeah, I think that's correct.
@lavanyagaur22 feel free to go ahead with @wtrocki's suggestion and send a
PR.

On Sat, Aug 3, 2019, 9:54 PM Lavanya gaur <notifications@github.com> wrote:

[2019-08-03 16:28] wtrocki commented on #96
Server detects conflict. Library detects error from server. Calls callback. Waits for resolution. Sents data again.

Updated example above

[2019-08-03 16:29] Lavanyagaur22 commented on #96
This is done by us (devs) or by the user then?

[2019-08-03 16:34] Lavanyagaur22 commented on #96
This is done by the users then. So the flow can be like:

1. In callback, we detect error from the server.
2. Give the client data and server data to the user.
3. They resolve the conflicts.
4. Somehow we have to know on our side that conflict is resolved.
5. And then again make a call to server-> this is our job to make a call to the server with the
    correct data. (and resolving conflicts is t

[2019-08-03 16:41] harshithdwivedi commented on #96
@lavanyagaur22 we can make the onConflict method return a Mutation Object, so when the developers resolve their conflict, they send a Mutation object back to our library.

Using that object, we can resync stuff with the server.

That would be ideal I think.

[2019-08-03 16:52] harshithdwivedi commented on #96
Also, instead of passing the serverState and clientState as JSON object, let's pass it as normal strings?

Developers often use GSON to parse their json and GSON doesn't support JSONObject so they'll have to convert it back to a string again.

@wtrocki what do you say?

[2019-08-03 17:36] wtrocki commented on #96
I think HashMap will be more hands on, but strings will be more flexible. Keep on mind thst server might have data that is not mapped in client. No preference

[2019-08-03 17:56] harshithdwivedi commented on #96
Let's start with String for now then and change things based on the
feedback.

Using hashmap might give us issues with relationships.

On Sat, Aug 3, 2019, 11:06 PM Wojtek Trocki <notifications@github.com>
wrote:

[2019-08-03 18:27] wtrocki commented on #96
Ah.. best way is to not support relationships for conflicts at all. Mutations with relationships are rare.

[2019-08-04 09:24] #75 closed

[2019-08-04 09:25] #65 closed

[2019-08-04 09:25] harshithdwivedi commented on #56
Closing this since the issue seems to have been resolved.
Please feel free to reopen if it isn't

[2019-08-04 09:25] #56 closed

[2019-08-04 15:53] Lavanyagaur22 commented on #96
@wtrocki Can you please explain what do you mean by **mutations with relationships are rare**? If it is so, then why we want to solve them for nested schema?

[2019-08-04 15:54] Lavanyagaur22 commented on #96
Also, we can use hashmaps but they might cause problems with the relationships.

[2019-08-04 16:08] Lavanyagaur22 opened #97 "Query regarding the conflict error structure."
<img width="421" alt="Screenshot 2019-07-31 at 6 26 34 PM" src="https://user-images.githubusercontent.com/33238323/62426232-95580480-b6ff-11e9-89f8-d1af20c93e87.png">

#### This is the error structure I am currently getting with the schema we are using.

[code]
The above one is the one we would be supporting in the library.

What is the reason that we get an **array of errors** in the above one? I

[2019-08-04 17:12] wtrocki commented on #96
Hmm.  How we see conflicts working for relationships? This will be quite hard as we have access to state on root field only (e.g. version)

[2019-08-04 17:13] wtrocki commented on #96
Any example for mutation that have relationship? Relationships are usually for queries.

[2019-08-04 17:18] wtrocki commented on #96
We can certainly introduce relationship support on server but I will love to see example mutation that we could see working. GraphQL have operation based replication system - this means that parameters we send to server can affect multiple business objects. Each business object update can mean conflict on it is own. With offix conflict we always assume 2 things:
- update is affecting single busine

[2019-08-04 17:24] harshithdwivedi commented on #96
@wtrocki That's interesting.
So you mean to say that we will never have any nested relationships sent when we perform any mutation?

If that's the case then we can probably stop worrying about implementing relationships in offline mode as well; since we don't provide offline support for queries, only for mutations.

Interesting stuff, let me know what you think

[2019-08-04 17:26] wtrocki commented on #96
InputType passed to mutation generates nested structure. For offline we need persist mutation parameters that will be nested. Conflict is always object based and not operation based. Which means that in callback you getting entire object state from server and actual client state. No nested data should appear in this case.

This is very simple when visializing

Mutation is github commit. Single com

[2019-08-04 17:31] harshithdwivedi commented on #96
Sure thing, I'd let @Lavanyagaur22 do the honor of opening the issue in offix repo for relationship support with mutations.

However, I'm still a bit unclear on this entire workflow.
I always assumed that we can expect mutations with relationship; for example, if I want to add a new book by an author into a library's database and the author is a relation in the book object.

@wtrocki is something

[2019-08-04 17:32] wtrocki commented on #96
I think using graphback generated schema can give us some hints here. We use input types for updates

[2019-08-04 17:36] harshithdwivedi commented on #96
You mean using this one in our app, for example : https://github.com/aerogear/graphback/blob/master/packages/graphback/example/Note.graphql

[2019-08-05 10:53] wtrocki commented on #97
This is comming from graphql specification

[2019-08-05 10:53] #97 closed

[2019-08-05 11:05] wtrocki commented on #96
I think we got confused about this. Let's chat about this exclusively to make sure we have a proper understanding.

[2019-08-06 16:17] wtrocki opened #98 "Create example server using graphback"
## Feature Request

Create server side for android app that will use SQLLite

[2019-08-07 11:10] Lavanyagaur22 opened #99 "Discussion: Invoking interceptor for mutations only."
We have attached the interceptor and we read the response received from the request using it. The interceptor is invoked on every call done with the help of apollo client.

What we want to do is:
- Check ApolloClient to see if it sends any meta-data for mutations
- Only invoke the interceptor for mutations

Mutations and Queries have different operation id's. So we can filter to read the response

[2019-08-07 11:10] Lavanyagaur22 commented on #99
@harshithdwivedi WDYT?
With reference to https://github.com/aerogear/offix-android/pull/94#issuecomment-518254890

[2019-08-08 06:18] Lavanyagaur22 opened #100 "Replace Interceptor with Apollo Interceptors."
## Description

Currently, we are using the native bare-bones interceptors provided by okhttp to read the response associated with the calls made by apollo client to the server.

It will be better if we use Apollo Interceptor instead of OkHttp Interceptor as it helps us in filtering out to read the responses for the mutation calls only, saving memory overheads and provide with some additional func

[2019-08-08 18:43] Lavanyagaur22 opened #102 "Discussion: Finding base from cache (Apollo Normalised Cache)"
In this issue, we can discuss approaches to read the apollo cache and find the base from the cache.

[2019-08-08 18:43] #99 closed

[2019-08-08 18:44] #77 closed

[2019-08-08 21:15] harshithdwivedi opened #104 "Create an interface that contains the Conflict resolution"
We can have an interface in our library that the users can implement in their app and provide a custom conflict resolution implementation.

For instance, we can have an interface named `ConflictResolutionImpl` which contains an abstract method called
[code]

Now the users can create their own implementation of this interface and pass it to our `OffixConflictInterceptor` in its constructor paramete

[2019-08-08 21:18] wtrocki commented on #104
Same as in JS SDK we can also pass typename or operation name to know what object we are dealing with

[2019-08-08 21:18] harshithdwivedi commented on #104
Makes sense.

[2019-08-09 09:09] harshithdwivedi opened #106 "Simplify the sample app"
Let's keep the sample app as simple as possible.
Currently, it's overloaded with things that the developer doesn't need to know; for example, MVVM Architecture, ViewModels, etc.

Let's get rid of them and have a basic android app with as few java/kotlin files as possible.

[2019-08-09 09:10] #100 closed

[2019-08-09 09:24] Lavanyagaur22 commented on #106
Yeah, the users would get a better understanding of the library then.

[2019-08-09 09:47] wtrocki commented on #106
Agreed. We landed server so we might also integrate with new server side and give developers nice end to end example

[2019-08-09 11:01] harshithdwivedi opened #107 "Make the library support the new server"
We need to test the library on the new server with the updated schema.
It would be good to see what roadblocks we hit and how to remove them.

The biggest challenge I see is handling offline mutations; @Lavanyagaur22 maybe we can get rid of the current implementation and see if there's a way for us to catch the outbound requests inside the interceptor itself.

We can have a second interceptor call

[2019-08-09 11:02] harshithdwivedi commented on #106
Created #107

[2019-08-09 11:07] Lavanyagaur22 commented on #104
@harshithdwivedi Can we also store mutation with us as of now in the `ConflictResolutionImpl` which will look like this:
[code]
Because here we would have to follow an approach as we did in offline support, making calls using reflection. Because the user would be resolving conflicts in the class which extends this interface, so he can not make a mutation object again as other parameters would not

[2019-08-09 11:20] harshithdwivedi commented on #104
@Lavanyagaur22 Users can have a switch() - case statement inside their interface implementation which checks for the type of operation which caused the conflict and handle it accordingly.

So for example if a create operation caused conflict, I would handle it differently as compared to an update operation.

We don't need to send the conflicted Mutation object back to them; they can simply create

[2019-08-09 11:49] wtrocki commented on #104
I agree with @harshithdwivedi

[2019-08-09 11:51] wtrocki commented on #106
Love it! I actually went quickly into sample app and it is really huge in terms of code that is not offix related, so our initial proposal to use patterns for implementation do not work nicely. making it simple should not require a lots of work anyway and extended schema can give us much more freedom.

Ping me if you get any questions about server schema.

[2019-08-09 11:52] wtrocki commented on #107
@harshithdwivedi Love it!

Yes!

[2019-08-09 14:08] #104 closed

[2019-08-09 17:17] harshithdwivedi commented on #96
Closing this now.

[2019-08-09 17:17] #96 closed

[2019-08-09 17:51] #98 closed

[2019-08-10 14:48] Lavanyagaur22 opened #109 "Query regarding generating schema file in sample app using server."
@wtrocki Graphback generates the schema file in .ts format. How can we get it in json format?

[2019-08-10 14:52] Lavanyagaur22 commented on #109
Also @wtrocki @harshithdwivedi I am facing some problems while generating query and mutation files with relationships. Can you please help me out regarding that?

[2019-08-10 14:54] harshithdwivedi commented on #109
Hm, i tried running graphback generate but it only generated the .ts files and not json
Maybe @wtrocki has some idea?

[2019-08-10 15:20] Lavanyagaur22 commented on #109
Also, this is the mutation file I have created based on the schema in the server.

[code]

[2019-08-10 15:21] Lavanyagaur22 commented on #109
@wtrocki Can we add `type query` in the schema too? This would help us in querying and getting lists of tasks which will help us in UI bindings in the sample.

[2019-08-10 15:22] Lavanyagaur22 commented on #109
@wtrocki @harshithdwivedi Can you please add type query in the schema too? This would help us in querying and getting lists of tasks which will help us in UI bindings in the sample.

[2019-08-10 17:02] wtrocki commented on #109
@Lavanyagaur22 Server is now part of the offix-android so please add anything to the schema that you will require.

Apollo provides CLI for generating JSON file. Servers will never expose any json file, but if you think that is required let me know.  https://github.com/apollographql/apollo-tooling#apollo-clientdownload-schema-output

[2019-08-10 17:03] wtrocki commented on #109
Btw.. This server is simply now Apollo GraphQL server - we do not need to use Graphback anymore - it just gave us implementation we required.

[2019-08-10 17:04] wtrocki commented on #109
Can we be more specific?
If there is issue with generated code let me know. We can create issue in graphback and fix it. For custom code fee free to change stuff etc.

[2019-08-10 17:12] wtrocki commented on #109
Not sure what you mean by type Query. Check playground there are queries there.

[2019-08-10 17:40] Lavanyagaur22 opened #110 "Getting error while running server."
While starting the server and running `graphback db` command I am getting this error: `password authentication failed for user "lavanya"` .
@wtrocki Can you please help me out in this?

[2019-08-10 17:45] Lavanyagaur22 commented on #110
For generating a schema from apollo CLI command, we need the endpoint URL of the server and I am getting the above error in an attempt to run the server. Help required :)

[2019-08-11 06:07] harshithdwivedi commented on #110
Looks like a postgres error, but we shouldn't be getting it since we are using sqlite.

[2019-08-11 06:09] Lavanyagaur22 commented on #110
Yep, when I searched the error, it was related to postgres. So not sure why the error came.

[2019-08-11 11:54] #110 closed

[2019-08-12 06:52] Lavanyagaur22 opened #113 "Error while fetching data on playground."
### Description

While creating a task using mutation:
[code]

I got the following error:
[code]

Why is it returning this instead of returning the id?

[2019-08-12 06:53] Lavanyagaur22 commented on #113
Also, what's the command to empty the database?

[2019-08-12 06:57] Lavanyagaur22 commented on #113
Also, upon running queries and mutations on the playground, we are getting this:

<img width="725" alt="Screenshot 2019-08-12 at 12 25 58 PM" src="https://user-images.githubusercontent.com/33238323/62849235-790a2800-bcfc-11e9-8466-6dbdf9011247.png">

If we don't get any data back, we would be having problems with inflating data in the app.

[2019-08-12 08:52] wtrocki commented on #113
@Lavanyagaur22 This is graphback issue. Do you mind dropping this issue text into graphback. I will fix that in our server manually.

[2019-08-12 09:56] harshithdwivedi commented on #113
Same here,

[code]

[2019-08-12 14:52] #109 closed

[2019-08-12 14:54] Lavanyagaur22 commented on #113
@wtrocki @harshithdwivedi If we don't get data back, how we are going to inflate it in app?

[2019-08-12 16:26] wtrocki commented on #113
@Lavanyagaur22 This is because you have made some changes that broke it?
I get data back for all queries/mutations.

Feel free to improve server as you wish.

[2019-08-12 16:27] #113 closed

[2019-08-12 16:28] Lavanyagaur22 commented on #113
Yeah, was about to close the issue. Getting it now.

[2019-08-13 12:12] harshithdwivedi opened #115 "Maintain a Queue of user provided callbacks"
WRT #114, let's keep a queue of the user-provided callbacks instead of a single callback variable.

[2019-08-13 12:16] wtrocki commented on #115
@harshithdwivedi Really important. We can have multiple callbacks running at the same time so we will get some issues around that.

[2019-08-13 12:18] wtrocki commented on #115
@harshithdwivedi Really important. We can have multiple callbacks running at the same time so we will get some issues around that.

[2019-08-13 12:24] harshithdwivedi commented on #107
Closing this

[2019-08-13 12:24] #107 closed

[2019-08-13 12:24] harshithdwivedi commented on #106
This is completed

[2019-08-13 12:24] #106 closed

[2019-08-13 13:04] harshithdwivedi opened #116 "See if the InterceptorRequest can be saved to the db"
To support offline mutations even when the app is closed, we need to persist the requests in our db.

https://github.com/apollographql/apollo-android/blob/master/apollo-runtime/src/main/java/com/apollographql/apollo/interceptor/ApolloInterceptor.java#L114

Not of immediate concern but something that we should be aware of.

[2019-08-13 13:55] harshithdwivedi commented on #115
Fixed in #117

[2019-08-13 13:55] #115 closed

[2019-08-13 13:57] harshithdwivedi opened #118 "Implement offline support using interceptors"
Let's implement offline support using interceptors.
It's not only less code that way, but it also makes our work easy

[2019-08-13 13:58] harshithdwivedi opened #119 "Get rid of the custom enqueue method"
Since we are now using interceptors, we might as well get rid of the custom `enqueue` method that we have created as that serves no purpose now.

[2019-08-13 15:26] harshithdwivedi commented on #47
Not needed when #119 is fixed.

[2019-08-13 15:26] #47 closed

[2019-08-16 08:30] Lavanyagaur22 opened #121 "Adding subscriptions in sample."
Adding subscriptions in server schema of sample.

[2019-08-16 08:45] Lavanyagaur22 commented on #121
@wtrocki We need to add `type subscriptions` for update and create a mutation in server schema, right?

[2019-08-16 18:15] #118 closed

[2019-08-16 18:17] harshithdwivedi opened #122 "Update the sample app"
We need to update the sample app to make sure it covers all the features that our library provides.
It should also showcase the best ways to use the library.

[2019-08-16 23:04] wtrocki commented on #118
I vote for this to be the most awesome issue in repo. Real game changer! Thank you for suggestion and awesome implementation

[2019-08-17 17:27] wtrocki commented on #121
Actually this is because servers config.json has this disabled. To enable simply check what subscription types you want in app and execute `graphback generate`

Remember to try subscription in playground first to get feeling how it works

[2019-08-19 08:36] #121 closed

[2019-08-19 17:21] #122 closed

[2019-08-19 17:21] Lavanyagaur22 commented on #119
Done 👍

[2019-08-19 17:21] #119 closed

[2019-08-20 01:57] wtrocki commented on #102
Any update on this field?

[2019-08-20 02:00] wtrocki commented on #35
Done.

[2019-08-20 02:00] #35 closed

[2019-08-20 04:25] Lavanyagaur22 commented on #102
No, not till now. Was working on sample app and subscriptions. This is the next issue to work upon.

[2019-08-20 04:46] wtrocki commented on #102
No worries. I was more curious than asking

[2019-08-20 16:18] Lavanyagaur22 opened #135 "Add subscriptions in sample."
This is the *error log* when I am trying to build generated files after adding  subscriptions file:

[code]

But we have schema configured for subscriptions.

<img width="1440" alt="Screenshot 2019-08-20 at 9 48 20 PM" src="https://user-images.githubusercontent.com/33238323/63364983-4a432000-c394-11e9-915e-568ba2f693ae.png">

[2019-08-20 16:21] Lavanyagaur22 commented on #135
Subscriptions Files are in pr #136

[2019-08-20 16:25] harshithdwivedi commented on #135
@Lavanyagaur22 can you try updating the Apollo client and the gradle version to see if that fixes the problem?

[2019-08-20 16:26] Lavanyagaur22 commented on #135
Yeah trying same 👍

[2019-08-20 16:35] Lavanyagaur22 commented on #135
I tried (code pushed for updated dependency), still same error @harshithdwivedi

[2019-08-20 17:10] Lavanyagaur22 commented on #135
Resolved!

[2019-08-20 17:10] #135 closed

[2019-08-20 21:33] Lavanyagaur22 opened #137 "Offline Callbacks are called asynchronously."
### Description
When we are sending requests from the offline store to the server upon regaining network connection, the requests are being replicated back to the server in an async manner (not executed in order) which results in receiving different responses in different mutation's callbacks.

[2019-08-20 21:37] #137 closed

[2019-08-21 14:23] Lavanyagaur22 opened #141 "Apollo cache watcher not working properly."
### Description

**Bug**: After adding subscriptions in the sample, the cache is getting updated on every request. We are getting fresh and correct data in the cache, but on refreshing app when we try to fetch data from cache ( apollo watcher attached to the cache ), we are not getting the data from the cache.

[2019-08-21 14:33] wtrocki commented on #141
Subscriptions need to provide cache update method that will update cache.
Generall rule is to not use subscriptions to feed data directly to the UI, but put it into the cache.

Then we have single source of the truth that comes from cache - it can be query or subscription.
However this issue is probably because we use cache first strategy that will not execute query if the query is cached. If we w

[2019-08-21 15:34] harshithdwivedi commented on #4
## Update
**In the new update, the library:**
1. Supports relationships in offline sync
2. Gets rid of the custom enqueue method thereby providing a streamlined user experience for developers
3. Allows for conflict resolution by allowing the developer to write a custom Conflict Resolution strategy
4. Has a reduced .aar size
5. Has an easy to understand and intuitive sample app

**Features in devel

[2019-08-23 08:41] harshithdwivedi opened #144 "Write unit/instrumentation tests for the library"
We almost forgot this! 😄

[2019-08-23 11:38] wtrocki opened #145 "Example application is not using fragments"
GraphQL fragments are the way to make queries and mutations effectively.
We do not use fragments in our sample application which makes queries really long and hard to maintain.

See: https://github.com/aerogear/modern-appdev-workshop/tree/master/template/client/src/graphql

Fragments are almost always used in clients due to the fact of reusabilty.
Our example application should use fragments (and

[2019-08-23 13:58] wtrocki opened #146 "Creation UI should automatically assign version=1"
No need to ask user to pass version. Version comes from server not client.

[2019-08-23 14:44] Lavanyagaur22 commented on #146
Fix: #147

[2019-08-23 14:46] #146 closed

[2019-09-14 16:54] Lavanyagaur22 opened #153 "Type error in database table name of checkAndUpdateTask"
It should be `task` and not `tasks`. Because of this, whenever I run `checkAndUpdateTask` mutation, it shows the below error in the playground ( that tasks table doesn't exist ).

<img width="1440" alt="Screenshot 2019-09-14 at 10 23 18 PM" src="https://user-images.githubusercontent.com/33238323/64911355-58d7e980-d73e-11e9-8a5d-faf7afa4716b.png">

[2019-09-15 04:21] #153 closed

[2019-09-15 04:22] Lavanyagaur22 opened #156 "Sample Server not sending the operation type of the mutation"
In the current scenario, the operationType of the conflicted mutation isn't sent back by the server.
We need to ensure that the server sends the operationType back so that it can be used for conflict resolution.

[2019-10-02 05:36] Lavanyagaur22 opened #157 "Update dependencies to the latest versions."
## Feature Request
- Update all the dependencies in the project (both library and sample) to their latest version.

[2019-10-02 06:17] harshithdwivedi commented on #157
Good idea!
Let's add more beginner issues for hactoberfest!

[2019-10-02 16:21] azisuazusa commented on #157
@Lavanyagaur22 I will work on this

[2019-10-02 17:02] Lavanyagaur22 opened #159 "[Investigation] Add support for database in library."
## Feature Request
- Implement a database (using SQLite or room) that stores the mutation requests made when the user goes offline.
- For this you have to understand:
  - How the interceptor works and what are the type of objects in the request.
  -  Extract data from the database to form a request object when the network connection is regained and a call to the server can be made.

[2019-10-02 17:32] #4 closed

[2019-10-02 19:49] Lavanyagaur22 opened #160 "Update docs - Add sample demo in docs."
## Feature Request

Run the sample app. Try various features in it. Record a gif of it and upload it to `demo.md` file to update the docs.

[2019-10-02 19:50] #145 closed

[2019-10-02 19:54] Lavanyagaur22 opened #161 "Use fragments in GraphQL files in sample."
## Feature

**Implement GraphQL fragments in sample GraphQL files**
- GraphQL fragments are the way to make queries and mutations effectively. We have not use fragments in our sample application which makes queries really long and hard to maintain.
- Fragments are almost always used in clients due to the fact of reusability.

Our example application should use fragments (and library should support

[2019-10-03 10:14] wtrocki commented on #156
I just tested it. __typename is being sent by the server in the payload

[2019-10-03 10:14] #156 closed

[2019-10-03 10:16] wtrocki commented on #141
This is problem with sample app implementation rather than library itself.
We need to provide helpers or at least document how to work with offline cases.
I believe that we are missing here documentation that will be addressed in separate issue

[2019-10-03 10:16] #141 closed

[2019-10-03 10:16] wtrocki commented on #53
This disussion got little bit dated. Closing as we can create couple follow up

[2019-10-03 10:16] #53 closed

[2019-10-03 10:19] wtrocki commented on #102
Let's settle with simple approach for the moment

[2019-10-03 10:19] #102 closed

[2019-10-03 10:20] wtrocki commented on #116
I have checked that and we cannnot save this and this even makes no sense.
We need to simply execute mutations again based on the database entires on application start.
Same as we do in offix-js. This is very trivial task but it will make sure that data is not lost

[2019-10-04 02:59] nsalazar0429 commented on #161
I would like to work on this issue

[2019-10-04 03:02] nsalazar0429 commented on #159
This issue sounds challenging. I would like to try it

[2019-10-04 03:41] #157 closed

[2019-10-04 05:25] harshithdwivedi commented on #159
Sounds great!
@cfsnsalazar, keep us posted if you manage to figure out an effective way of serializing the request object that's present in the interceptor.

We need to store it to the db :)

[2019-11-21 14:10] Lavanyagaur22 commented on #161
@cfsnsalazar Any updates on this issue?

[2019-11-21 16:53] nsalazar0429 commented on #161
Sorry, I have not been able to work on this

[2019-11-21 16:54] nsalazar0429 commented on #159
Sorry, I have not been able to work on this issue

[2019-12-04 16:33] Lavanyagaur22 opened #169 "Write unit/instrumentation tests for the offix library."
## Feature Request

**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative solutions or features you have considered.

[2019-12-05 03:55] Lavanyagaur22 opened #170 "Design a roadmap for adding support for database in offix library."
## Feature Request

**To support offline mutations even when the app is closed, the mutation requests have to be persisted in a database. Refer to #159 for detailed information.**

You need to design a roadmap (flowchart/structure) for the same describing how you are planning to do that, what will be the structure of your database (SQLite/room or any other), how you are going to serialize the muta

[2019-12-05 06:37] Lavanyagaur22 opened #171 "Write instrumentation tests for the sample app."

[2019-12-05 06:43] Lavanyagaur22 opened #172 "Write instrumentation tests for the offix library."

[2019-12-05 10:52] xatuke commented on #170
Okay, I guess room will work :+1:

[2019-12-05 10:55] harshithdwivedi commented on #170
Unfortunately we can't use any third party dependency 😅
Using Firebase will force people to use Google Play Service which is something that we don't want to do.

[2019-12-12 11:32] xatuke commented on #170
Is the task for this not yet made or are the instances exhausted?

[2019-12-12 11:38] wtrocki commented on #170
We have that supported for projects done on Android platform by using serialization

[2019-12-12 11:43] Lavanyagaur22 commented on #170
The task is made, but actually not published yet. @crowded-geek You can start working on this issue. The task for this will be visible on the dashboard soon and then you can claim it.

[2019-12-12 12:07] xatuke commented on #170
Okay, :)

[2020-01-07 05:38] reaganiwadha opened #187 "Integrate project with Travis CI"
## Feature Request
Continuous Integration is important because it lets people know if a commit can be build and works.

One of the important points of using CI is about having less conflicts when integrating code. Once the code is frequently merged (from an specific branch, for example, to the trunk branch), it has less chances of breaking what already exists.

Please integrate [Travis CI](http://

[2020-01-07 05:38] reaganiwadha opened #188 "Integrate project with CodeCov"
## Feature Request
Code coverage tools incentivize developers to write tests and increase coverage. During the process of writing tests, the developer may discover new bugs or syntax issues in the source code that are important to resolve before distributing the application.

**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.
Dev

[2020-01-08 09:45] Siva-Charan-Reddy5376 opened #191 "Write unit test for sample app"
## Bug Report

* **Affected Package(s)/ File(s)**:
* **Package version(s)**:

[2020-12-03 06:11] hussainashraf commented on #160
when  i try to run the sample app it throws me this error

Debugger attached.
Waiting for the debugger to disconnect...
internal/modules/cjs/loader.js:883
  throw err;
  ^

Error: Cannot find module 'c:\Users\hussain\Desktop\jboss\offix-android'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:880:15)
    at Function.Module._load (internal/modules/cjs/loader.js:725:27)
    a

[2021-03-23 16:56] FareesHussain commented on #160
@Lavanyagaur22 is this available to work.

I see the pr is created 2 year back on this.

[2021-03-23 17:04] wtrocki commented on #160
This project is dead. I will archive it